.about{
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
}
.about h3{
    font-size: 40px;
    text-align: center;
}
.about-box{
  width: 60%;
  font-size: 24px;
  margin: auto;
}


/* Mobile */
@media screen and (max-width: 480px) and (min-width: 320px)  {
 
}


/* Tablet */
@media screen and (max-width: 768px) and (min-width: 481px)  {

}


/* Desktop */
@media screen and (max-width: 1300px) and (min-width: 769px)  {
  
}