.contact{
  display: flex;
  justify-content: space-around;
  background-color: rgb(29, 24, 24);
}
.left-div{
  width: 40%;
  
}
.right-div{
    width: 40%;
    margin-top: 25px;
}
.inside-text{
    font-size: 24px;
}
.email-div{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}
.phone-div{
    display: flex;
    gap: 2rem;
    margin-bottom: 12px;
}
.email-input-div{
    display:grid;
    margin-bottom: 25px;
}
.email-input{
    width: 50%;
    height: 35px;
    border-radius: 12px;
    font-size: large;
}
.message-input-div{
    display:grid;
    
}
.message-input{
    width: 50%;
    height: 135px;
    border-radius: 12px;
    font-size: large;
}
.send-btn{
    width: 145px;
    background: #239ad6;
    height: 42px;
    border-radius: 4rem;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.send-btn:hover{
    width: 145px;
    background: white;
    height: 42px;
    border-radius: 4rem;
    color: black;
    font-size: 20px;
    
}
.copyright-div{
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
    
}



/* Mobile */
@media screen and (max-width: 480px) and (min-width: 320px)  {
   
    .inside-text{
        font-size: 12px;
    }
    .havean-div{
        font-size: 25px;
    }
    .contact{
        display: grid;
        justify-content: space-around;
        background-color: rgb(29, 24, 24);
        width: 100%;
        height: auto;
      }
      .copyright-div{
        font-size: 14px;
        text-align: center;
        margin-top: 40px;
        
    }
    .right-div{
        display: none;
    }
}


/* Tablet */
@media screen and (max-width: 768px) and (min-width: 481px)  {
    .left-div{
        width: 50%;
        
      }
      .right-div{
          width: 50%;
          margin-top: 25px;
      }
   
    .inside-text{
        font-size: 18px;
    }
    .email-div{
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    .phone-div{
        display: flex;
        gap: 1rem;
    }
}


/* Desktop */
@media screen and (max-width: 1300px) and (min-width: 769px)  {
    .left-div{
        width: 40%;
        
      }
      .right-div{
          width: 40%;
          margin-top: 25px;
      }
      .email-div{
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    .phone-div{
        display: flex;
        gap: 1rem;
    }
    .inside-text{
        font-size: 23px;
    }
}