.home-div{
    background: #000;
   display: flex;
    margin: auto;
    margin-top: 2rem;
    
}
.small-screen-div{
    display: none;
}
.left-div{
  width: 40%;
  margin: auto;
  font-size: 56px;
 
  text-align: center;

}
.tag-line{
    font-size: 25px;
    color: orange;
}
.Resume-btn{
    width: 145px;
    background: #239ad6;
    height: 42px;
    border-radius: 4rem;
    color: white;
    font-size: 20px;

}
.Resume-btn:hover{
    width: 145px;
    background: white;
    height: 42px;
    border-radius: 4rem;
    color: black;
    
}
.right-div{
  width: 40%;
}
.profile-img{
    width: 240px;
    height: 250px;
    border-radius: 200px;
}
.my-ges{
   
}



/* Mobile */
@media screen and (max-width: 480px) and (min-width: 320px)  {
    .right-div{
       display: none;
      }
      .small-screen-div{
       display: contents;
     background-color: #239ad6;
     align-items: center;
    }
    .profile-small-screen-img{
        width: 40%;
        height: auto;
        border-radius: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .home-div{
      display:grid;
    gap: 1rem;
   
    
    }
    .my-name{
        font-size: 24px;
    }
    .tag-line{
        font-size: 20px;
    }
}


/* Tablet */
@media screen and (max-width: 768px) and (min-width: 481px)  {
    .profile-img{
        width: 80%;
        height: 250px;
        border-radius: 200px;
    }
    .small-screen-div{
        display: none;
    }
}


/* Desktop */
@media screen and (max-width: 1300px) and (min-width: 769px)  {
    .small-screen-div{
        display: none;
    }
}